<h1>About <i>The Banker</i></h1>
<p>The Banker is a database-less Rails app that utilizing the <a href="https://currencyconverterapi.com" target="_BLANK">Currency Converter API</a> to quicky convert USD, EUR, and SGD currencies. Exchange rates are cached and refreshed every minute to provide up-to-the-minute exchange rates without exhausting the API rate limit.</p>
<p>Logo/Favicon courtesy of <a href="https://thenounproject.com/search/?q=bitcoin&i=1299479" target="_BLANK">The Noun Project</a>.</p>