<nav class="navbar navbar-light bg-light navbar-expand-md">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'bitcoin.svg', width: 30, height: 30, class: 'd-inline-block align-top' %>
    The Banker
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-mav" aria-controls="main-mav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-mav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'About', about_path, class: 'nav-link'%>
      </li>
    </ul>
  </div>
</nav>